<h1 style="color:green" class="text-center"> Home Page</h1>

<div class="panel panel-success">
        <div class="panel panel-heading"><h2>Employee Management System</h2>
            <h3>Today's Date is {{Date | date:'shortDate'}}</h3>
        </div>
        <div class="panel panel-body text-center">
                <img src="../assets/angular.jpg" ><br>
                <h3>This is Angular6 Application</h3>
            <h2>Contains Admin and Users Modules</h2>
            <h3>Admin and users can login securely and can manage employees and roles</h3>
            
            </div>
        </div>
        